.indicator {
  position: fixed;
            bottom: 40px;
            left: 30px;
            background-color:#10b981;
            color: #F5F7FA;
            padding: 10px 16px;
            border-radius: 20px;
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 8px;
            box-shadow: 0 4px 12px rgba(16, 185, 129, 0.3);
            z-index: 1000;
}

.visible {
  opacity: 1;
}


.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  position: relative;
  animation: pulse 1.0s infinite ease-in-out;
}

/* Keyframes for pulsing effect */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


